@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:wght@400;700;800&display=swap');

:root {
    --font-padrao: Poppins;
    --font-nomes: Inter;
    --corpadrao: rgba(52,0,77,1);;
    --corprimaria: rgba(159,0,226,1);
    --corsecundaria: rgba(236.36,0,241.19,1);
    --corbotao: rgba(229,103,0,1);
    --corfonte: #fce6ff;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-padrao);
    box-sizing: border-box;
}

/*Estilos Gerais*/

html {
    scroll-behavior: smooth;
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    color: var(--corfonte);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    padding: 10px 40px;
}

.acessibilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.acessibilidade img {
    width: 45px;
    margin-left: 10px;
    display: inline-block;
}

.titulo {
    display: inline-block;
    font: bold 30px var(--font-padrao);
    color: var(--corfonte);
    line-height: 38px;
    text-shadow: 2px 1px 4px rgb(0 0 0 / 50%);
}

p {
    font: 20px var(--font-padrao);
    color: var(--corfonte);
}

/*Cabeçalho de Navegação*/
header {
    background-color: var(--corpadrao);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#navbar {
    background-color: var(--corpadrao);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a {
    color: var(--corfonte);
    width: 7em;
    font: 1rem var(--font-padrao);
    text-align: center;
}

/*Corpo principal da página*/
body {
    background-image: linear-gradient(to bottom, rgba(159,0,226,1) 14%, rgba(236.36,0,241.19,1) 33%, rgba(159,0,226,1) 59%, rgba(85.88,0,226,0.63) 79%, rgba(159,0,226,1) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo {
   background: url(../img/fundo.png);
   background-repeat: repeat-y;
}

/*Seção da introdução do site*/
#introducao{
    margin-bottom: -150px;
    width: 100%;
}

.introducao {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: 30%;
}

.logo img {
    width: 90%;
}

.avatar {
    width: 20%;
}

.avatar img{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.introducaotxt {
    align-items: center;
    margin: 80px 0px;
    width: 40%;
}

.introducaotxt p {
    margin-bottom: 20px;
}

.botao button {
    border: none;
    border-radius: 100px;
    background-color: var(--corbotao);
    color: var(--corfonte);
    font: bold 20px var(--font-padrao);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*Seção SOBRE*/
#sobre {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#sobre .container {
    display: flex;
    align-items: center;
}

#sobre .container .sobreimg {
   width: 50%;
}

/*Sub-Seção VALORES*/
#valores {
    margin: 40px 0px 50px;
}

#valores .acessibilidade {
    justify-content: flex-start;
}

.valores ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.valores li {
    background-color: rgba(102,207,0,1);
    border-radius: 20px;
    padding: 15px 20px;
    font: bold 25px var(--font-padrao);
    color: rgba(52,0,77,1);
    margin: 10px 05px;
    width: 240px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*Seção TECNOLOGIA*/
#tecnologia {
    display: flex;
    flex-direction: column;
}

.tecnologiatxt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 150px;
}

#tecnologia .container {
    display: flex;
    align-items: flex-start;
}

.cmtxt {
    margin: 30px 25px 30px 0px;
}

.iatxt {
    margin: 30px 0px 30px 25px;
}

.sobretxt {
    width: 50%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgtec1, .imgtec2 {
    width: 100%;
}

/*Seção PLANOS*/
#planos {
    margin-top: 60px;
}
.planostxt p{
    font-size: 25px;
    text-align: center;
}

.blocos {
    color: #34004D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.bloco h3 {
    font-size: 35px;
    margin-bottom: 5px;
    text-align: center;
}

.bloco h4 {
    font-size: 20px;
}

.bloco li {
    font-size: 16px;
    text-align: left;
}

.bloco {
    background-color: rgba(102,207,0,1);
    border-radius: 20px;
    width: 250px;
    height: 300px;
    padding: 15px 35px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

/*Seção EQUIPE*/
#equipe {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.txt {
    width: 100%;
}

.equipetxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-right: 45px;
    width: 100%;
}

.equipe {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.membro {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.membro img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.membro .nome {
    color: var(--corfonte);
    font: bold 1.2rem var(--font-nomes);
}

.membro .funcao {
    font-size: 0.7rem;
    color: var(--corfonte);
}

/*Seção PARCERIAS*/
#parcerias {
    margin-top: 140px;
    display: flex;
    align-items: center;
    margin-bottom: 140px;
}

.parceriastxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-right: 45px;
    width: 100%;
}

.logoparceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logoparceiros img {
    width: 90%;
    justify-content: center;
}

.imgparceiro1 {
    margin: 10px 10px 35px 10px;
}

.imgparceiro2 {
    max-width: 200px;
    margin: 10px;
}

/*Footer do site*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--corpadrao);
    color: #9F00E2;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}

footer #container {
    flex-direction: column;
    width: 100%;
}

.midiasocial, .contato, .logofooter {
    width: 33%;
}

.sitefooter {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}

.midiasocial img {
    width: 4vw;
}

.logofooter img {
    width: 100%;
}

.midiasocial ul {
    display: flex;
    justify-content: space-around;
}

.midiasocial li {
    display: inline-block;
    padding: 10px;
    list-style: none;
}

.contato {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
}

.copyright {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}